{% extends 'header.html' %}
{% block content %}
    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Shirts<span>.</span></h2>
                        <a href="{{ url_for('index') }}">Home</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="img/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Product Page Section Beign -->
    <section class="product-page">
        <div class="container">
            <div class="product-control">
                <a href="#">Previous</a>
                <a href="#">Next</a>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slider owl-carousel">
                        <div class="product-img">
                            <figure>
                                <img src="{{ url_for('static', filename='img/products/default-image.png') }}" alt="{{ item.description }}">
                                <div class="p-status">new</div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-content">
                        <h2>{{ item.description }}</h2>
                        <div class="pc-meta">
                            <h5>${{ "%.2f"|format(item.unit_price) }}</h5>
                        </div>
                        <ul class="tags">
                            <li><span>Stock Code:</span> {{ item.stockCode }}</li>
                        </ul>
                        <form action="{{ url_for('buy_item', item_id=item.itemId) }}" method="POST">
                            <div class="product-quantity">
                                <div class="pro-qty">
                                    <input type="text" name="quantity" value="1" min="1">
                                </div>
                            </div>
                            <button type="submit" class="primary-btn pc-btn">Buy Product</button>
                        </form>

                        {% if customer_segment %}
                        <div class="p-info">
                            <li>Customer Segment: {{ customer_segment }}</li>
                            <li>{{ segment_description }}</li>
                            {% if recommended_strategy %}
                            <li>Special Offer: {{ recommended_strategy }}</li>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Page Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product spad">
        <div class="container"></div>
    </section>
    <!-- Related Product Section End -->
{% endblock content %}